th:nth-child(2) {
	width: 15%;
}
th:nth-child(3) {
	width: 25%;
}
th, tr, td {
	border: none;
}
#theme-toggle {
	line-height: 1;
}
#lang-toggle {
	font-weight: 600;
	min-width: 2.5rem;
}
.dropdown-item.active {
	background-color: var(--bs-primary);
}
[data-bs-theme=dark] {
	--bs-border-color: #647078;
}
table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order:before, table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order:after, table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order:before, table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order:after, table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:before, table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:after, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:before, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:after,
table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order:before,
table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order:after,
table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order:before,
table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order:after,
table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:after,
table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:before,
table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:after {
	opacity: 0.4;
}
table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:before, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:after,
table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:after {
	opacity: 1;
}
table.dataTable th.dt-type-numeric, table.dataTable td.dt-type-numeric {
	text-align: start;
}
.form-control:focus, .btn-primary:focus, .btn-secondary:focus, .form-select:focus, .dt-column-order:focus, .dt-layout-full:focus, table a:focus, .page-link:focus {
	outline: 0.125rem solid white;
	box-shadow: 0 0 0 0.25rem blue;
}
button:focus:not(:focus-visible) {
	box-shadow: none;
}
.form-control:focus-visible, .btn-primary:focus-visible, .btn-secondary:focus-visible, .form-select:focus-visible, .dt-column-order:focus-visible, .dt-layout-full:focus-visible, table a:focus-visible, .page-link:focus-visible {
	outline: 0.125rem solid white;
	box-shadow: 0 0 0 0.25rem blue;
}